:root {
    --colour-one: #005555;
    --colour-two: #069A8E;
    --colour-three: #A1E3D8;
    --colour-four: #F7FF93;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colour-one);
}

img {
    display: block;
    opacity: 0.1;
    object-fit: contain;
    height: 100%;
    position: absolute;
    transform-origin: 50% 50%;
    /* transition: 0.9s; */
    /* transform: rotate(90deg);
    transform: translate(-50%, 0%); */
    animation-name: down;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1;
}

p {
    display: none;
}

input[type="radio"] {
    display: none;
}

.container {
    border: 2px red solid;
    margin: 7vh auto;
    width: 70vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
}

.picture-container {
    border: green 2px solid;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.bottom-container {
    display: flex;
    height: 20%;
}

.text {
    flex-grow: 1;
}

.text>p {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    line-height: 100%;
    color: var(--colour-four);
    text-shadow: 0 0 0.5vw var(--colour-two);
}


.radio-container {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: end;
}

label {
    border: 0.5vw solid var(--colour-two);
    display: block;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background-color: var(--colour-two);
    margin: 3%;
    box-sizing: border-box;
    transition: ease-out 0.2s;
    box-shadow: 0 0 0.5vw var(--colour-two);
}

#radio-1:checked~.picture-container>img:nth-child(1),
#radio-2:checked~.picture-container>img:nth-child(2),
#radio-3:checked~.picture-container>img:nth-child(3),
#radio-4:checked~.picture-container>img:nth-child(4) {
    /* transform: translate(0, 0); */
    /* display: block; */
    opacity: 1;
    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: 1;


}

#radio-1:checked~.bottom-container p:nth-child(1),
#radio-2:checked~.bottom-container p:nth-child(2),
#radio-3:checked~.bottom-container p:nth-child(3),
#radio-4:checked~.bottom-container p:nth-child(4) {
    display: block;
    animation-name: blur;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: 1;
}

.radio-container>label:hover {
    background-color: transparent;
}

#radio-1:checked~.bottom-container>.radio-container>label:nth-child(1),
#radio-2:checked~.bottom-container>.radio-container>label:nth-child(2),
#radio-3:checked~.bottom-container>.radio-container>label:nth-child(3),
#radio-4:checked~.bottom-container>.radio-container>label:nth-child(4) {
    border-color: var(--colour-three);
    background-color: var(--colour-three);
}

#radio-1:checked~.bottom-container>.radio-container>label:nth-child(1):hover,
#radio-2:checked~.bottom-container>.radio-container>label:nth-child(2):hover,
#radio-3:checked~.bottom-container>.radio-container>label:nth-child(3):hover,
#radio-4:checked~.bottom-container>.radio-container>label:nth-child(4):hover {
    /* border-color: var(--colour-three); */
    background-color: transparent;
}




@keyframes down {
    0% {
        opacity: 1;
        transform: translate(0, 0);

    }

    100% {
        /* opacity: 0.3; */
        transform: translate(200%, 0%) rotate(270deg);

    }
}

@keyframes up {
    from {
        transform: translate(0%, -100%);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes blur {
    from {
        /* transform: translateX(40%); */
        transform: translateX(20%);
        filter: blur(10px);
        opacity: 0.5;
    }

    to {
        filter: blur(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px)  {

    .container {
        width: 95vw;
        height: 90vw;
    }

    .bottom-container {
        flex-direction: column;
        gap: 10%;
    }

    .text {
        order: 2;
    }

    .radio-container {
        align-self: center;
        justify-content: center;
    }
}